# Python cache
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Django stuff
*.log
db.sqlite3
media/
staticfiles/

# Virtual environments
.env
venv/
ENV/
env/
.venv/

# VSCode
.vscode/

# PyCharm / JetBrains
.idea/

# OS files
.DS_Store
Thumbs.db

# Migrations cache
*/migrations/__pycache__/
*/migrations/*.py
!*/migrations/__init__.py
